.form-cta {
    display: grid;
    grid-template-columns: 24rem;
    grid-template-rows: repeat(2, 3.2rem);
    row-gap: 0.8rem;

    position: relative;

    &__input {
        font-family: var(--ff-accent);
        font-size: 1rem;
        line-height: normal;
        color: var(--color-very-dark-blue);

        border: none;
        outline: none;
        border-radius: 0.5rem;
    
        padding-left: 0.8rem;

        &::placeholder {
            color: var(--color-light-gray);
        }
    }

    &__btn {
        font-family: var(--ff-accent);
        font-weight: var(--fw-bold);
        font-size: 1rem;
        line-height: normal;
        color: var(--color-white);
        background-color: var(--color-bright-blue);

        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 0.5rem;
    
        display: inline-block;

        transition: background-color 0.25s ease-out;

        &:hover,
        &:active {
            background-color: var(--color-btn-active);
        }
    }

    &--error {
        gap: 2.3rem;

        & .form-cta__input {
            border: 0.1rem solid var(--color-red);
        }

        &::before {
            content: "Please check your email";
            color: var(--color-white);
            position: absolute;
            top: 3.6rem;
        }
    }
}
