.nav {
    display: flex;
    column-gap: 2.4rem;

    &__link {
        text-decoration: none;

        font-family: var(--ff-accent);
        font-weight: var(--fw-regular);
        font-size: 1.2rem;
        line-height: normal;
        color: var(--color-very-dark-blue);
    }

    @include media-screen-min($bp-desktop) {
        column-gap: 5.7rem;

        &__link {
            font-size: 1.6rem;
        }
    }
}