:root {
    // Body (400)
    --ff-body: 'Open Sans', sans-serif;
    // Headings, Call-to-actions, Header Navigation (400, 700)
    --ff-accent: 'Raleway', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    // Colors Primary
    --color-very-dark-blue: hsl(243, 87%, 12%);
    --color-desaturated-blue: hsl(238, 22%, 44%);

    // Colors Accent
    --color-bright-blue: hsl(224, 93%, 58%);
    --color-moderate-cyan: hsl(170, 45%, 43%);

    // Colors Neutral
    --color-light-grayish-blue: hsl(240, 75%, 98%);
    --color-light-gray: hsl(0, 0%, 75%);
    --color-white: hsl(0, 0%, 100%);

    --color-font-body: hsl(243, 14%, 43%);
    --color-btn-active: hsl(221, 100%, 71%);
    --color-red: hsl(343, 84%, 61%);
    --color-green: hsl(170, 45%, 43%);
    --color-light-green: hsl(170, 63%, 66%);
    --color-shadow-card: hsla(0, 0%, 22%, 0.05);
    --color-shadow: hsla(0, 0%, 0%, 0.16);
    --color-very-dark-blue-shadow: hsl(243, 87%, 12%, 0.16);
}

// Breakpoints
$bp-desktop: 90em; // 1440px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: 1.4rem;
    line-height: 1.5em;
    color: var(--color-font-body);
    background-color: var(--color-light-grayish-blue);

    overflow-x: hidden;
    // center content on page
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}
