%heading {
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold);
    line-height: 1.5em;
    color: var(--color-very-dark-blue);
}

.heading-1 {
    @extend %heading;
    font-size: 2.4rem;

    @include media-screen-min($bp-desktop) {
        font-size: 4rem;
    }
}

.heading-2 {
    @extend %heading;

    &--section {
        font-size: 1.6rem;
    }

    &--cta {
        font-size: 1.8rem;
        line-height: 1.33em;
        color: var(--color-white);
    }

    @include media-screen-min($bp-desktop) {
        &--section {
            font-size: 4rem;
            line-height: normal;
        }

        &--cta {
            font-size: 3.2rem;
            line-height: 1.5em;
        }
    }
}